.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.main-content {
  flex: 1;
  background-color: #000000;
  padding-top: 120px; /* Account for fixed navigation header */
}
